/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ion-color-primary: #DFD800;
  --ion-color-primary-rgb: 223,216,0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #c4be00;
  --ion-color-primary-tint: #e2dc1a;

  --ion-color-secondary: #313131;
  --ion-color-secondary-rgb: 49,49,49;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #2b2b2b;
  --ion-color-secondary-tint: #464646;

  --ion-color-tertiary: #EEEEEE;
  --ion-color-tertiary-rgb: 238,238,238;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d1d1d1;
  --ion-color-tertiary-tint: #f0f0f0;

  --ion-color-success: #5df752;
  --ion-color-success-rgb: 93,247,82;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #52d948;
  --ion-color-success-tint: #6df863;

  --ion-color-warning: #f7bd52;
  --ion-color-warning-rgb: 247,189,82;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d9a648;
  --ion-color-warning-tint: #f8c463;

  --ion-color-danger: #F75252;
  --ion-color-danger-rgb: 247,82,82;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #d94848;
  --ion-color-danger-tint: #f86363;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #fbfbfd;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-dark: #0D0B0D;
  --ion-color-dark-rgb: 244,245,248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;
}

.header-xs, .header-md, .header-lg, .header-xl {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.footer-xs, .footer-md, .footer-lg, .footer-xl {
  box-shadow: none;
  -webkit-box-shadow: none;
}